// Definir tamaños de pantalla
$mobile-s: 10em;
$mobile-m: 25em;
$mobile-l: 40em;
$tablet: 60em;
$laptop: 80em;
$laptop-l: 100em;

.products-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2em 0 2em 0;
  justify-content: center;
  align-items: center; 
  flex-direction: column;

  @mixin generate-grid($columns) {
    display: grid;
    align-items: center; 
    justify-content: center; 
    grid-template-columns: repeat(#{$columns}, 1fr);
    grid-gap: 1rem;
    width: 60%;
    margin: 0 auto; 
  }

  .products--grid {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    margin: 1rem;

    @media screen and (min-width: #{$mobile-s}) and (max-width: #{$mobile-m - 0.1em}) {
      @include generate-grid(1);
    }

    @media screen and (min-width: #{$mobile-m}) and (max-width: #{$mobile-l - 0.1em}) {
      @include generate-grid(2);
    }

    @media screen and (min-width: #{$mobile-l}) and (max-width: #{$tablet - 0.1em}) {
      @include generate-grid(3);
    }

    @media screen and (min-width: #{$tablet}) and (max-width: #{$laptop - 0.1em}) {
      @include generate-grid(4);
    }

    @media screen and (min-width: #{$laptop}) {
      @include generate-grid(4);
    }
  }
}
