<div
  class="welcome-background"
  [ngStyle]="{
    'background-image': 'url(' + currentImage() + ')'
  }"
>
  <div class="welcome-phrase">
    <h1>{{ currentPhrase() }}</h1>
  </div>
  <div class="welcome-search">
    <div class="welcome-search-input col-12">
      <div class="search-box">
        <input type="text" placeholder="Buscar un producto..." />
        <button class="welcome-search-button">
          <i class="fa fa-search" aria-hidden="true" style="color: white"></i>
        </button>
      </div>
      <details class="dropdown">
        <summary role="button">
          <p class="button">
            Ordenar por
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          </p>
        </summary>
        <ul>
          <li><a href="#">Moda</a></li>
          <li><a href="#">Accesorios</a></li>
          <li><a href="#">Joyería</a></li>
          <li><a href="#">Tecnología</a></li>
        </ul>
      </details>
    </div>
  </div>
</div>
