<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="../../../assets/svg/icon_menu.svg" alt="" />
    </button>
    <a href="">
      <img
        width="100"
        src="../../../assets/images/green_mint_logo.jpg"
        alt="logo"
      />
    </a>
    <div class="cart">
      @if (productQuantity() > 0 && !cartMenuIsActive()) {
      <p>{{ productQuantity() }}</p>
      <button (click)="toggleCart()">
        <i
          class="fa fa-shopping-cart"
          aria-hidden="true"
          style="font-size: 1.6em; color: white"
        ></i>
      </button>
      } @else if (cartMenuIsActive()) {
      <button (click)="toggleCart()">
        <i
          class="fa fa-arrow-left"
          aria-hidden="true"
          style="font-size: 1.5em; color: white"
        ></i>
      </button>
      }
    </div>
  </div>
  <div class="side-menu" [class.active]="showMenu">
    <button (click)="toggleMenu()">Close</button>
    <ul>
      <li><a href="">All</a></li>
      <li><a href="">Clothes</a></li>
      <li><a href="">Electronics</a></li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img
          width="180"
          src="../../../assets/images/green_mint_logo.jpg"
          alt="logo"
        />
      </a>
      <ul>
        <li><a href="">All</a></li>
        <li><a href="">Clothes</a></li>
        <li><a href="">Electronics</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account"><p>alejoc0314&#64;gmail.com</p></div>
      <div class="cart">
        @if (productQuantity() > 0 && !cartMenuIsActive()) {
        <button (click)="toggleCart()">
          <p>{{ productQuantity() }}</p>
          <i
            class="fa fa-shopping-cart"
            aria-hidden="true"
            style="font-size: 1.6em; color: white"
          ></i>
        </button>
        } @else if (cartMenuIsActive()) {
        <button (click)="toggleCart()">
          <i
            class="fa fa-times"
            aria-hidden="true"
            style="font-size: 1.5em; color: white"
          ></i>
        </button>
        }
      </div>
    </div>
  </div>
</div>
<app-cart></app-cart>
