@import url("./styles/reset.scss");
@import url("assets/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  font-family: "Quicksand", sans-serif;
}

body {
  background-image: url('./assets/images/green_mint_background.jpg');
  background-repeat: round; 
  
}

body::-webkit-scrollbar {
  width: 12px; 
  transition: all ease-in-out 0.3s;
}

body::-webkit-scrollbar-track {
  background-color: #f0f0f0; 
}

body::-webkit-scrollbar-thumb {
  background-color: #3d7c6a; 
  border-radius: 6px; 
}

body::-webkit-scrollbar-thumb:active {
  background-color: #00c08a;
}
